h1{
  font-family: sans-serif;                                                                                                  

}
h2{

 font-family: sans-serif;

}
h3{

  font-family: sans-serif;
  font-size: 25px;
}
h4{

font-family: sans-serif;
font-size: 25px;
}
h5{
font-family: sans-serif;
 
  font-size: 25px;
}
h6{
  font-family: sans-serif;
 
  font-size: 25px;
}
.pic{
max-width: 500px;
border-radius: 30px;
}
h7{

font-family: sans-serif;
font-size: 25px;
}
.pi{
  max-width: 500px;
  border-radius: 30px;
}
h8{
  
  font-family: sans-serif;
  font-size: 25px;
  padding-right: 300px;
  }
.grapes{
  max-width: 500px;
  border-radius: 30px;
}
h9{

font-family: sans-serif;
  font-size: 25px;

}
.apple{
  max-width: 500px;
  border-radius: 30px;


}
.txt{
  font-size: 20px;
  font:bold;
}
h10{

  font-family: sans-serif;
    font-size: 25px;
}
h11{
  font-family: sans-serif;
  font-size: 20px;

}
h12{
font-size: 25px;
  font-family: sans-serif;
}
h13{
  font-size: 25px;
    font-family: sans-serif;
  }
  h14{
    font-size: 25px;
      font-family: sans-serif;
    }
    h15{
      font-size: 25px;
        font-family: sans-serif;
      }
      h16{
font-family: sans-serif;
        font-size: 25px;
      }
      h17{
font-size: 25px;
        font-family: sans-serif;
        color: black;
      }
      h18{
font-family: sans-serif;
        font-size: 25px;
      }







